DB_USER=app
DB_PASSWORD=app
DB_NAME=app
DB_HOST=db
DB_PORT=5432
DB_URL=postgresql+asyncpg://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}
DB_PATH=/var/lib/postgresql/data

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_URL=redis://${REDIS_HOST}:${REDIS_PORT}/${REDIS_DB}

LLM_BASE_URL=http://llama:8000
LLM_MODEL=Meta-Llama-3.1-8B-Instruct.Q6_K.gguf

MAX_TOKENS=20
MODEL_TEMPERATURE=0.7

OPEN_AI_API_KEY=example

DEBUG_MODE=false