<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>combinario</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/style.css') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="512x512"
      href="{{ url_for('static', path='icons/512.png') }}"
    />
  </head>
  <body>
    <div class="topbar">
      <img
        src="{{ url_for('static', path='icons/512.png') }}"
        class="logo"
        alt="🌍"
      />
      <span class="title" title="combinario">combinario</span>
    </div>
    <div class="sidenav">
      <div class="items-container">
        <div
          class="item"
          draggable="true"
          item-text="Water"
          item-emoji="💧"
          item-id="1"
        >
          <span class="item-emoji">💧</span>
          Water
        </div>
        <div
          class="item"
          draggable="true"
          item-text="Fire"
          item-emoji="🔥"
          item-id="2"
        >
          <span class="item-emoji">🔥</span>
          Fire
        </div>
        <div
          class="item"
          draggable="true"
          item-text="Earth"
          item-emoji="🌍"
          item-id="3"
        >
          <span class="item-emoji">🌍</span>
          Earth
        </div>
        <div
          class="item"
          draggable="true"
          item-text="Wind"
          item-emoji="🌬️"
          item-id="4"
        >
          <span class="item-emoji">🌬️</span>
          Wind
        </div>
      </div>
      <div class="searchbar">
        <input type="text" placeholder="Search items..." />
      </div>
    </div>
    <div class="workspace">
      <canvas id="stars-canvas"></canvas>
    </div>
    <script src="{{ url_for('static', path='js/items.js') }}"></script>
    <script src="{{ url_for('static', path='js/saver.js') }}"></script>
    <script src="{{ url_for('static', path='js/stars.js') }}"></script>
  </body>
</html>
